/* Ensures full screen works properly */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

@media only screen and (min-width:508px) {
	body{
		background-image: url("../img/bg_medium.png");
  		background-size: 100% 100%;
   		background-repeat: no-repeat;
	}
		#button-container {
		text-align: center;
		position: absolute;
		top: 62%;
	}	

	#button-container img {
			width: 50%;
			height: 50%;
	}
}

@media only screen and (max-width:509px) {
	body{
		background-image: url("../img/index_bg.png");
  		background-size: 100% 100%;
  		background-repeat: no-repeat;
	}
		#button-container {
		text-align: center;
		position: absolute;
		top: 55%;
	}

#button-container img {
		width: 50%;
		height: 50%;
	}
}

@media only screen and (min-width:1000px) {
	body{
		background-image: url("../img/bg_high.png");
  		background-size: 100% 100%;
  		background-repeat: no-repeat;
	}
		#button-container {
		text-align: center;
		position: absolute;
		top: 70%;
	}

	#button-container img {
		width: 20%; /*Minor issue here percentage gets too large for menu style buttons*/
		height: 20%;
		display:inline;
	}
}

/* Audio buttons */
header img {
	float: right;
}

/* Achievements */
.achievement-holder {
	text-align: center;
	margin: 10px auto;
	-webkit-filter: drop-shadow(5px 5px 5px #000);
	filter: drop-shadow(5px 5px 5px #000);
}

img {
	max-width: 100%;
	height: auto;
}

.gray-out  {
 	-webkit-filter: grayscale(1) brightness(1.4) opacity(0.9);
 	filter: grayscale(1) brightness(1.4) opacity(0.9);
}

#back-button {
	display: block;
	margin: 0 auto;
}