h1 {
	text-align: center;
}

.ui-btn {
	margin-left: auto;
	margin-right: auto;
    width: 200px;
}

img {
	position: absolute;
	top: 0px;
	right: 10px;
}
#sfx-toggle {
	position: absolute;
	top: 0px;
	right: 60px;
}

.off {
	text-decoration: line-through;
}
.on {
	
}

/* LEADERBOARD STUFF */
#main-content {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
