h1 {
	text-align: center;
}

.ui-btn {
	margin-left: auto;
	margin-right: auto;
    width: 200px;
}
#nameboard{
width: 50%;
float:left;
}
#scoreboard{
	width: 50%;
	float:right;
}

img {
	position: absolute;
	top: 0px;
	right: 10px;
}
#sfx-toggle {
	position: absolute;
	top: 0px;
	right: 60px;
}

.off {
	text-decoration: line-through;
}
.on {
	
}