h1 {
	text-align: center;
}

.ui-btn {
	margin-left: auto;
	margin-right: auto;
    width: 200px;
}

img {
	position: absolute;
	top: 0px;
	right: 10px;
}
#sfx-toggle {
	position: absolute;
	top: 0px;
	right: 60px;
}

.off {
	text-decoration: line-through;
}
.on {
	
}

/* LOADING STUFF */
#loading-div {
	position: fixed;
	top: 50%;
	left: 50%;
}
#loading-indicator {
	text-align: center;
}