@media (min-width: 800px) {
	#game-container {
		border: 1px solid black;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}

div {
	border: 1px solid black;
	text-align: center;	
	width: 100%;
	font-size: 1.2em;
	margin-left: auto;
	margin-right: auto;
}

#top-bar {
	font-size: 0.8em;
}
#top-bar div {
	display: inline;
}

#question-bar {
	height: 250px;
}
#question-bar div {
}
#question-bar #bottom-row {
	font-size: 2.5em;
}

#answer-bar {
	display: flex;
	flex-direction: row;
	/* Giving all the children below */
	-webkit-box-flex: 1;
	-webkit-flex: 1;
}


/* jQuery padding - will shift game off-screen a little */
div.ui-content {
	padding: 0;
}